<!DOCTYPE html>
<html>
  <head>
    <title>TodoApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <header>
          <div class="row">
            <div class="col-sm-6">
              <h1>
                <% if @current_user %>
                  <%= link_to("TODO APP by Rails", "/tasks/index", class: "header-logo") %>
                <% else %>
                  <%= link_to("TODO APP by Rails", "/", class: "header-logo") %>
                <% end %>
              </h1>
            </div>
            <div class="col-sm-6">
              <% if @current_user %>
                <%= link_to("新しいタスクを作成", "/tasks/new", class: "header-right btn btn-primary") %>
                <%= link_to("#{@current_user.name}", "/users/#{@current_user.id}", class: "header-right btn btn-success") %>
              <% else %>
                <%= link_to("ログイン", "/login", class: "header-right btn btn-primary") %>
                <%= link_to("ユーザ登録", "/users/new", class: "header-right btn btn-success") %>
              <% end %>
            </div>
          </div>
        </header>
      </div>
    </header>
    <div class="container main col-sm-8 col-sm-offset-2">
      <%= yield %>
    </div>
  </body>
</html>
